@page "/"
@layout HeadlessLayout

<MudAppBar>
    <MudText
        Typo="Typo.h5"
        Style="font-weight: bold; color: white;">
        UxTracker
    </MudText>

    <MudSpacer/>

    <div class="d-flex gap-4">
        <MudButton
            Href="/login"
            Variant="Variant.Text"
            Color="Color.Inherit">
            Login
        </MudButton>

        <MudButton
            Href="/register"
            Variant="Variant.Outlined"
            Color="Color.Inherit">
            Cadastre-se
        </MudButton>
    </div>
</MudAppBar>

<MudContainer 
    MaxWidth="MaxWidth.Large"
    Class="mt-14 pt-14 px-15 h-full">
    <MudGrid>
        <MudItem 
            xs="12" sm="12" 
            md="6" lg="6" 
            xl="6" xxl="6" 
            Class="d-flex flex-column gap-8">
            <MudText
                Typo="Typo.h2"
                Class="title-2">
                Bem-vindo ao UxTracker
            </MudText>
            
            <MudText Typo="Typo.body1">
                Nossa ferramenta online revoluciona a avaliação de Experiência do Usuário (UX) ao longo do tempo, eliminando as limitações das abordagens tradicionais baseadas em papel e caneta. Com base no método UX Curve, a plataforma oferece uma interface intuitiva para pesquisadores e profissionais monitorarem e analisarem a evolução da UX de maneira contínua ou retrospectiva. Coletando dados em tempo real, a ferramenta permite identificar pontos críticos de satisfação e frustração dos usuários, facilitando decisões informadas para o desenvolvimento de produtos e serviços. A análise integrada de dados qualitativos e quantitativos gera insights precisos, promovendo uma experiência de usuário mais rica e satisfatória.
            </MudText>
            
            <MudButton 
                Href="/register" 
                Variant="Variant.Filled" 
                Color="Color.Primary"
                Class="d-block w-fit">
                Comece Agora
            </MudButton>
        </MudItem>
        
        <MudItem 
            xs="12" sm="12" 
            md="6" lg="6" 
            xl="6" xxl="6">
            <MudPaper 
                Elevation="4" 
                Class="pa-4"> 
                <MudCarousel 
                    TData="object"
                    Class="w-full h-full" 
                    Style="height:400px;" 
                    ShowArrows="true" 
                    ShowBullets="true"
                    EnableSwipeGesture="true" 
                    AutoCycle="true">
                    <MudCarouselItem Transition="Transition.Slide" Class="d-flex align-center obj-fit px-14 pb-8">
                        <img
                            src="images/Boxplot.png"
                            alt="BoxPlot"
                            class="obj-fit"
                            style="max-height:100%; max-width:100%;" />
                    </MudCarouselItem>

                    <MudCarouselItem Transition="Transition.Slide" Class="d-flex align-center obj-fit px-14 pb-12">
                        <img
                            src="images/Frequency.png"
                            alt="UxCurve"
                            class="w-full h-full obj-fit"
                            style="max-height:100%; max-width:100%;" />
                    </MudCarouselItem>

                    <MudCarouselItem Transition="Transition.Slide" Class="d-flex align-center obj-fit px-14 pb-12">
                        <img
                            src="images/WCSS.png"
                            alt="UxCurve"
                            class="obj-fit"
                            style="max-height:100%; max-width:100%;" />
                    </MudCarouselItem>

                    <MudCarouselItem Transition="Transition.Slide" Class="d-flex align-center obj-fit px-14 pb-12">
                        <img
                            src="images/Comments.png"
                            alt="UxCurve"
                            class="obj-fit"
                            style="max-height:100%; max-width:100%;" />
                    </MudCarouselItem>
                </MudCarousel>
            </MudPaper>
        </MudItem>

        <MudItem 
            Class="py-14 my-16" 
            xs="12" sm="12" 
            md="12" lg="12" 
            xl="12" xxl="12">
            <MudText
                Typo="Typo.h4"
                Align="Align.Center">
                Funcionalidades
            </MudText>
        </MudItem>
    </MudGrid>

    <MudGrid Class="inverse">
        <MudItem
            Class="mb-12 pr-6"
            xs="12" sm="12"
            md="6" lg="6"
            xl="6" xxl="6">
            <img src="images/Projetos.jpeg" alt="Home" class="mx-auto my-auto"
                 style="max-height:100%; max-width:100%;" />
        </MudItem>
        
        <MudItem
            Class="mb-12"
            xs="12" sm="12"
            md="6" lg="6"
            xl="6" xxl="6">
            <MudText Typo="Typo.h5" GutterBottom="true" Color="Color.Primary" Style="font-weight: bold;">Crie e gerencie projetos
            </MudText>
            <MudText Typo="Typo.body1">
                Organize e acompanhe todos os seus projetos de pesquisa de forma clara e eficiente. Tenha uma visão completa do status, participantes, entregas e cronograma de cada projeto. Facilite o monitoramento e o progresso de suas avaliações com uma interface intuitiva e visualmente organizada, permitindo foco total no desenvolvimento de insights e melhorias contínuas.
            </MudText>
        </MudItem>
    </MudGrid>

    <MudGrid>
        <MudItem
            Class="mb-12 pr-6"
            xs="12" sm="12"
            md="6" lg="6"
            xl="6" xxl="6">
            <MudText Typo="Typo.h5" GutterBottom="true" Color="Color.Primary" Style="font-weight: bold;">Acompanhamento do Usuário com UX Curve
            </MudText>
            <MudText Typo="Typo.body1">
                Monitore a evolução da experiência do usuário ao longo do tempo com a metodologia UX Curve. Este gráfico permite avaliar de forma contínua como os usuários percebem o produto ou serviço, identificando altos e baixos da interação em diferentes momentos. Com insights precisos e baseados em dados longitudinais, você pode visualizar tendências, entender momentos críticos e tomar decisões estratégicas para aprimorar a experiência do usuário de maneira eficaz e informada.
            </MudText>
        </MudItem>
        
        <MudItem
            Class="mb-12"
            xs="12" sm="12"
            md="6" lg="6"
            xl="6" xxl="6">
            <img src="images/UxCurve.png" alt="Home" class="mx-auto my-auto"
                 style="max-height:100%; max-width:100%;" />
        </MudItem>
    </MudGrid>

    <MudGrid Class="inverse">
        <MudItem 
            Class="pr-6"
            xs="12" sm="12"
            md="6" lg="6"
            xl="6" xxl="6">
            <img src="images/Clusters.png" alt="Home" class="mx-auto my-auto"
                 style="max-height:100%; max-width:100%;" />
        </MudItem>
        
        <MudItem
            xs="12" sm="12"
            md="6" lg="6"
            xl="6" xxl="6">
            <MudText
                Typo="Typo.h5"
                Color="Color.Primary"
                Style="font-weight: bold;">
                Relatórios Detalhados
            </MudText>
            
            <MudText Typo="Typo.body1">
                Nossos relatórios detalhados oferecem uma análise profunda das avaliações de experiência do usuário, fornecendo informações essenciais para aprimorar produtos e serviços. Com dados precisos e insights relevantes, você pode identificar padrões, acompanhar o desempenho ao longo do tempo e entender melhor as percepções dos usuários. Essas análises permitem decisões estratégicas mais informadas, garantindo melhorias contínuas e uma experiência de usuário otimizada. Transforme feedbacks em ações concretas com relatórios que destacam o que realmente importa.
            </MudText>
        </MudItem>
    </MudGrid>
        
    <div class="pb-10 pt-20">
        <MudText Typo="Typo.body2" Align="Align.Center">
            © 2024 UxTracker. Todos os direitos reservados.
        </MudText>
    </div>
</MudContainer>