@page "/not-found"
@layout HeadlessLayout

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-8 text-center"
    Style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
        <MudText Typo="Typo.h2" GutterBottom="true" Color="Color.Primary">Erro 404 - Página Não Encontrada</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            Desculpe, a página que você está procurando não foi encontrada.
        </MudText>
        <AuthorizeView Policy="AdminPolicy">
            <Authorized>
                <MudButton Href="/projects" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Voltar à Página Inicial
                </MudButton>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="ResearcherPolicy">
            <Authorized>
                <MudButton Href="/projects" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Voltar à Página Inicial
                </MudButton>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="ReviewerPolicy">
            <Authorized>
                <MudButton Href="/reviewers/research" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Voltar à Página Inicial
                </MudButton>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <NotAuthorized>
                <MudButton Href="/" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Voltar à Página Principal
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</MudContainer>