@page "/unauthorized"
@layout HeadlessLayout

@attribute [Authorize (Policy = "ResearcherPolicy")]
<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-8 text-center"
    Style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
        <MudText Typo="Typo.h2" GutterBottom="true" Color="Color.Primary">Erro 403 - Acesso Negado</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            Desculpe, você não tem permissão para acessar esta página.
        </MudText>

        <AuthorizeView Policy="AdminPolicy">
            <Authorized>
                <MudButton Href="/projects" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Voltar à Página Inicial
                </MudButton>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="ResearcherPolicy">
            <Authorized>
                <MudButton Href="/projects" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Voltar à Página Inicial
                </MudButton>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="ReviewerPolicy">
            <Authorized>
                <MudButton Href="/reviewers/research" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Voltar à Página Inicial
                </MudButton>
            </Authorized>
        </AuthorizeView>
    </div>
</MudContainer>