@using UxTracker.Core.Contexts.Account.Validators

@page "/login"
@layout HeadlessLayout
@inherits Login

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column justify-center align-content-center gap-9 mud-height-full">
    <MudText Typo="Typo.h4" Align="Align.Center">Faça login no UxTracker</MudText>
            
    <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex flex-column gap-4">
        <MudPaper Class="pa-6 rounded-lg" Outlined="true">
            <MudForm
                @ref="Form"
                @bind-IsValid="IsValid"
                @bind-Errors="Errors"
                Class="d-flex flex-column gap-7"
            >
                <MudTextField 
                    ShrinkLabel="true" 
                    T="string" 
                    Label="E-mail" 
                    InputType="InputType.Email" 
                    Variant="Variant.Filled"
                    @bind-Value="Req.Email"
                    Required="true"
                    RequiredError="O e-mail deve ser informado"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Validation="@EmailValidator.Validate"
                />
                
                <MudTextField 
                    ShrinkLabel="true" 
                    T="string" 
                    Label="Senha" 
                    InputType="@PasswordInput" 
                    Variant="Variant.Filled"
                    @bind-Value="Req.Password"
                    Required="true"
                    RequiredError="A senha deve ser informada"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Adornment="Adornment.End"
                    AdornmentIcon="@PasswordInputIcon"
                    AdornmentAriaLabel="Mostrar senha"
                    OnAdornmentClick="ShowPassword"
                />
                
                <div class="d-flex justify-center">
                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Class="py-2 px-15"
                        OnClick="AuthenticateAsync"
                        Disabled="@(!IsValid)"
                    >
                        Acessar
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>

        <MudPaper Class="px-4 py-7 rounded-lg d-flex flex-column gap-3" Outlined="true">
            <MudText Align="Align.Center">
                É novo no UxTracker?
                <MudLink Href="/register" Style="font-weight: bold">Cadastre-se</MudLink>
            </MudText>

            <MudText Align="Align.Center">
                <MudLink Style="font-weight: bold" OnClick="SendResetCodeAsync">
                    Esqueceu a senha?
                </MudLink>
            </MudText>
        </MudPaper>
    </MudContainer>
</MudContainer>