@using UxTracker.Researchers.Web.Components

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView  RouteData="@routeData" DefaultLayout="@typeof(HeadlessLayout)">
                <Authorizing>
                    <Authorizing/>
                </Authorizing>
                
                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(HeadlessLayout)">
                <p role="alert">Página não encontrada.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>