@page "/recover"
@layout HeadlessLayout
@using UxTracker.Core.Contexts.Account.Validators
@inherits PasswordRecovery


<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column justify-center align-content-center gap-9 mud-height-full">
    <MudText Typo="Typo.h4" Align="Align.Center">Recupere sua senha</MudText>
            
    <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex flex-column gap-4">
        <MudPaper Class="pa-6 rounded-lg" Outlined="true">
            <MudForm
                @ref="Form"
                @bind-IsValid="IsValid"
                @bind-Errors="Errors"
                Class="d-flex flex-column gap-7"
            >
                <MudTextField
                    ShrinkLabel="true"
                    T="string"
                    Label="E-mail"
                    InputType="InputType.Email"
                    Variant="Variant.Filled"
                    @bind-Value="Req.Email"
                    Required="true"
                    RequiredError="O e-mail deve ser informado"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Validation="@EmailValidator.Validate"
                />

                <MudTextField
                    MaxLength="8"
                    ShrinkLabel="true"
                    T="string"
                    Label="Código de verificação"
                    HelperText="O código deve ter 8 caracteres"
                    HelperTextOnFocus
                    InputType="InputType.Text"
                    Variant="Variant.Filled"
                    @bind-Value="Req.ResetCode"
                    Required="true"
                    RequiredError="O código deve ser informado"
                    Immediate="true"
                    OnlyValidateIfDirty="true"
                    Validation="@ResetCodeValidator.Validate"
                />

                <div class="d-flex justify-center">
                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Class="py-2 px-15"
                        OnClick="VerifyAsync"
                        Disabled="@(!IsValid)"
                    >
                        Recuperar
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>

        <MudPaper Class="pa-6 rounded-lg d-flex flex-column gap-3" Outlined="true">
            <MudText Align="Align.Center">
                O código foi enviado para seu e-mail.
            </MudText>
            
            <MudText Align="Align.Center" Style="font-weight: bold">
                Não esqueça de verificar a caixa de spam.
            </MudText>

            <MudLink Style="text-align: center" OnClick="ResendResetCodeAsync">
                <strong>
                    Reenviar código
                </strong>
            </MudLink>
        </MudPaper>
    </MudContainer>
</MudContainer>