<div class="d-flex flex-column align-center gap-10">
    <div>
        <MudSkeleton
            SkeletonType="SkeletonType.Circle"
            Animation="Animation.Wave"
            Height="180px"
            Width="180px"/>

        <div class="d-flex justify-end" style="width: 180px;">
            <MudSkeleton
                SkeletonType="SkeletonType.Circle"
                Animation="Animation.Wave"
                Height="24px"
                Width="24px"/>
        </div>
    </div>

    <MudSkeleton
        Animation="Animation.Wave"
        Width="50%" Height="36px"
        Style="transform: none"/>

    <MudSkeleton
        Animation="Animation.Wave"
        Width="100%"
        Height="56px"
        Style="transform: none"/>
</div>

<MudSkeleton
    Animation="Animation.Wave"
    Width="100%"
    Height="40px"
    Style="transform: none"
/>

@code{}