<div class="d-flex flex-column align-center gap-10 max-account-container">
    <div class="d-flex flex-column align-center gap-5">
        <div class="relative">
            <MudSkeleton
                SkeletonType="SkeletonType.Circle"
                Animation="Animation.Wave"
                Height="180px"
                Width="180px"/>

            <div class="absolute" style="bottom: 0; right: 0;">
                <MudSkeleton
                    SkeletonType="SkeletonType.Circle"
                    Animation="Animation.Wave"
                    Height="18px"
                    Width="18px"/>
            </div>
        </div>

        <MudSkeleton
            Animation="Animation.Wave"
            Width="70%" Height="32px"
            Style="transform: none"/>
    </div>

    <MudSkeleton
        Animation="Animation.Wave"
        Width="100%"
        Height="56px"
        Style="transform: none"/>
</div>

<div class="d-flex align-center justify-center gap-9 max-account-container">
    <MudSkeleton
        Animation="Animation.Wave"
        Width="100%"
        Height="40px"
        Style="transform: none"
    />

    <MudSkeleton
        Animation="Animation.Wave"
        Width="100%"
        Height="40px"
        Style="transform: none"
    />
</div>