<div class="d-flex flex-column align-center gap-10 w-full">
    <div class="relative">
        <MudSkeleton
            SkeletonType="SkeletonType.Circle"
            Animation="Animation.Wave"
            Height="180px"
            Width="180px"/>

        <div class="absolute" style="bottom: 0; right: 0;">
            <MudSkeleton
                SkeletonType="SkeletonType.Circle"
                Animation="Animation.Wave"
                Height="18px"
                Width="18px"/>
        </div>
    </div>

    <MudGrid>
        <MudItem
            xs="12" sm="6"
            md="6" lg="6"
            xl="6" xxl="6"
            Class="d-flex flex-column gap-5">
            <MudItem
                xs="12" sm="12"
                md="12" lg="12"
                xl="12" xxl="12">
                <MudSkeleton
                    Animation="Animation.Wave"
                    Width="100%"
                    Height="56px"
                    Style="transform: none"/>
            </MudItem>


            <MudItem
                xs="12" sm="12"
                md="12" lg="12"
                xl="12" xxl="12">
                <MudSkeleton
                    Animation="Animation.Wave"
                    Width="100%"
                    Height="56px"
                    Style="transform: none"/>
            </MudItem>


            <MudItem
                xs="12" sm="12"
                md="12" lg="12"
                xl="12" xxl="12">
                <MudSkeleton
                    Animation="Animation.Wave"
                    Width="100%"
                    Height="56px"
                    Style="transform: none"/>
            </MudItem>
        </MudItem>


        <MudItem
            xs="12" sm="6"
            md="6" lg="6"
            xl="6" xxl="6"
            Class="d-flex flex-column gap-5">
            <MudItem
                xs="12" sm="12"
                md="12" lg="12"
                xl="12" xxl="12">
                <MudSkeleton
                    Animation="Animation.Wave"
                    Width="100%"
                    Height="56px"
                    Style="transform: none"/>
            </MudItem>


            <MudItem
                xs="12" sm="12"
                md="12" lg="12"
                xl="12" xxl="12">
                <MudSkeleton
                    Animation="Animation.Wave"
                    Width="100%"
                    Height="56px"
                    Style="transform: none"/>
            </MudItem>


            <MudItem
                xs="12" sm="12"
                md="12" lg="12"
                xl="12" xxl="12">
                <MudSkeleton
                    Animation="Animation.Wave"
                    Width="100%"
                    Height="56px"
                    Style="transform: none"/>
            </MudItem>
        </MudItem>
    </MudGrid>
</div>

<div class="d-flex justify-center align-center gap-6">
    <MudSkeleton
        Animation="Animation.Wave"
        Width="100%"
        Height="40px"
        Style="transform: none"
        Class="r-max-btn"
    />

    <MudSkeleton
        Animation="Animation.Wave"
        Width="100%"
        Height="40px"
        Style="transform: none"
        Class="r-max-btn"
    />
</div>