.w-full{
    width: 100%;
}

.w-fit{
    width: fit-content;
}

.h-full{
    min-height: fit-content;
    height: 100%;
}

.h-max{
    height: max-content;
}

.obj-fit{
    width: 100%;
    object-fit: contain;
}

.title-2{
    font-weight: 500;
}

.r-container-title{
    display: block;
}

.r-container-title-hidden{
    display: none;
}

.paper-projects{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 64px 64px 64px;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.no-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.clear-btn{
    top: 0;
    right: 0;
    z-index: 11;
}

.r-add{
    min-width: 150px;
}

@media screen and (max-width: 961px) {
    .inverse{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 715px){
    .title-2{
        font-size: 42px;
    }

    .r-main-container{
        padding: 56px 0 0 0 !important;
    }
    
    .r-container{
        padding: 0 !important;
    }

    .r-container-title{
        display: none;
    }

    .r-container-title-hidden{
        display: block;
    }

    .r-paper{
        min-height: fit-content;
        height: 100%;
        border: none;
        border-radius: 0 !important;
    }
    
    .r-add{
        min-width: fit-content;
        padding: 6px;
    }
}

@media screen and (max-width: 622px){
    .title-projects-page{
        font-size: 32px;
    }

    .add-hidden{
        display: none;
    }
}

@media screen and (max-width: 510px){
    .title-projects-page{
        font-size: 28px;
    }
    
    .no-projects-text{
        font-size: 18px;
    }
}

@media screen and (max-width: 450px){
    .title-2{
        font-size: 36px;
    }
    
    .title-projects-page{
        font-size: 24px;
    }
    
    .title-projects{
        font-size: 18px;
    }

    .text-projects{
        font-size: 14px;
    }
    
    .projects{
        gap: 28px;
    }

    .no-projects-text{
        font-size: 16px;
    }

    .add-hidden{
        padding: 0;
    }
}

@media screen and (max-width: 390px){
    .title-projects-page{
        font-size: 20px;
    }
    
    .paper-projects{
        padding: 28px; !important;
    }
}