@page "/account/update-password"
@layout MainLayout
@inherits UpdatePasswordPage


<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column justify-center align-content-center gap-9 mud-height-full">
    <MudText Typo="Typo.h4" Align="Align.Center">Altere sua senha</MudText>
            
    <MudContainer MaxWidth="MaxWidth.ExtraSmall">
        <MudPaper Class="pa-6 rounded-lg" Outlined="true">
            <MudForm Class="d-flex flex-column gap-7">
                <MudTextField 
                    @bind-Value="Password" 
                    ShrinkLabel 
                    T="string" 
                    Label="Nova senha" 
                    InputType="@PasswordInput" 
                    Variant="Variant.Filled" 
                    Adornment="Adornment.End" 
                    AdornmentIcon="@PasswordInputIcon" 
                    AdornmentAriaLabel="Mostrar senha"
                    OnAdornmentClick="ShowPassword"/>

                <div class="d-flex justify-center">
                    <MudButton
                        ButtonType="ButtonType.Submit"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Href="/"
                        Class="py-2 px-15">
                        Alterar senha
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudContainer>
</MudContainer>