@page "/register"
@layout HeadlessLayout
@inherits Register


<MudContainer 
    MaxWidth="MaxWidth.Small" 
    Class="d-flex flex-column justify-center align-content-center gap-9 mud-height-full"
>
    <MudText
        Typo="Typo.h4"
        Align="Align.Center">
        Cadastre-se no UxTracker
    </MudText>
            
    <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex flex-column gap-4">
        <MudPaper Class="pa-6 rounded-lg" Outlined="true">
            <MudForm 
                Class="d-flex flex-column gap-7"
                bind-IsValid="IsValid"
                @ref="Form"
                Vali
            >
                <MudTextField 
                    ShrinkLabel 
                    T="string" 
                    Label="Nome completo" 
                    HelperText="Mínimo de 3 caracteres"
                    InputType="InputType.Text" 
                    Variant="Variant.Filled" 
                    @bind-Value="Req.Name"
                    Required="true"
                    RequiredError="O nome deve ser informado"
                />
                
                <MudTextField 
                    ShrinkLabel 
                    T="string" 
                    Label="E-mail" 
                    InputType="InputType.Email" 
                    Variant="Variant.Filled" 
                    @bind-Value="Req.Email"
                    Required="true"
                    RequiredError="E-mail inválido"
                />
                
                <MudTextField 
                    ShrinkLabel 
                    T="string" 
                    Label="Senha"
                    HelperText="A senha deve conter letras maiscúlas e minúsculas, números e caracteres especiais"
                    InputType="InputType.Password" 
                    @bind-Value="Req.Password" 
                    Variant="Variant.Filled"
                />
                
                <MudTextField 
                    ShrinkLabel 
                    T="string" 
                    Label="Confirmar senha" 
                    InputType="InputType.Password" 
                    Variant="Variant.Filled"
                />
                
                <div class="d-flex justify-center">
                    <MudButton
                        ButtonType="ButtonType.Submit"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Class="py-2 px-15"
                        OnClick="CreateAsync"
                        Disabled="@(!IsValid)"
                    >
                        Cadastrar
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>

        <MudPaper Class="px-4 py-7 rounded-lg" Outlined="true">
            <MudText Align="Align.Center">
                É novo no UxTracker?
                <strong>
                    <MudLink Href="/login">Faça Login</MudLink>
                </strong>
            </MudText>
        </MudPaper>
    </MudContainer>
</MudContainer>